{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>O nas</h1>
    <p>Language Sail Academy to szkoła językowa, która zaprasza dzieci i młodzież na fascynującą podróż przez morze języków. </p>
    <p> Oferujemy kursy dla dzieci w wieku od 6 do 12 lat, młodzieży w wieku od 13 do 17 lat oraz osób przygotowujących się do egzaminu maturalnego.
        Nasza szkoła oferuje naukę na różnych poziomach zaawansowania. Do wyboru mamy dwa języki: język angielski oraz język niemiecki.
        Co wyróżnia naszą szkołę to praktyczne podejście do nauki języka obcego, a także możliwość zajęć z native speakerem.</p>
    <img src="{% static 'images/team.png' %}" alt="Logo">

{% endblock %}
